<p>addmovie works!</p>

<h1>Adding Movies</h1>

<form (ngSubmit) ="saveData(p)" #movieform ="ngForm">
    <div>
        <label for ="name"> Movie name </label>
        <input type ="text" id ="name" name ="name" placeholder="Enter movie name" [(ngModel)] ="p.name"
        required #name ="ngModel">
    </div>
    <div>
        <label for ="rating"> Movie name </label>
        <input type ="text" id ="rating" name ="rating" placeholder="Enter rating" [(ngModel)] ="p.rating"
        #rating ="ngModel" min ="1" max="10">
    </div>
    <div>
        <label for ="yearRelease">Release year</label>
        <input type ="text" id = "yearRelease" name ="yearRelease" placeholder="Enter year"  [(ngModel)] = "p.yearRelease"
        required #yearRelease = "ngModel">
    </div>

    <input type ="submit" value ="save" class = "btn btn-Success" [disabled] ="!movieform.valid">

</form>
