<p>menu works!</p>

<div>
    <ul>
        <li>
            <a routerLink="ListMovies"> All Movie details </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="AddMovie"> Add Movie </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <!-- <button routerLink="EditMovie"> Add Movie </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <!-- <button routerLink="ListMovies/id"> Add Movie </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

        </li>
    </ul>
</div>