<p>list-movies works!</p>

<div class ="container
    <div class ="jumbotron>
        <h1> Movie Listing </h1>
        <table>
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>YearRelease</th>
                <th>Rating</th>
            </thead>
        <tbody>
            <tr *ngFor="let m of d">
                <td>{{m.id}}</td>
                <td>{{m.name}}</td>
                <td>{{m.yearRelease}}</td>
                <td>{{m.rating}}</td>
                <td>
                    <a [routerLink]="['/find/',m.Id]">Details</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a [routerLink]="['/edit/',m.Id]">Edit</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a [routerLink]="['/delete/',m.Id]">Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
        </tbody>
        </table>

       








        <!-- <div class="container">
    <div class =jumbotron>
        <h1> Movie Listing </h1>
        <table class="table">
            <thead>
                <th>
                    Id
                </th>
            </thead>
            <tbody>
                <tr *ngFor ="let m of d">
                    <td>
                        {{m.Id}}
                    </td>
                    <td>
                        <a [routerLink] = " ['/find/' , m.Id] "> Details </a>
                    </td>
            </tbody>
    </div> -->

    <!-- <p>listmovie works!</p>
<div class="container">
    <div class="jumbotron">
        <h1>Movie Listing</h1>
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Year</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor = " let m of d" >
                    <td>
                        {{m.id}}
                    </td>
                    <td>
                        {{m.name}}
                    </td>
                    <td>
                        {{m.rating}}
                    </td>
                    <td>
                        {{m.yearRelease}}
                    </td>
                    <td>
                        <a [routerLink] ="['/find/', m.id]">Details</a>  &nbsp;&nbsp;&nbsp;
                        
                        <a [routerLink] ="['/edit/', m.id]">Edit</a> &nbsp;&nbsp;&nbsp;
                        
                        <a [routerLink] ="['/delete/', m.id]">Delete</a> &nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
