<p>menu works!</p>

<h1>Movie Entertainment</h1>
<hr>
<div class="container">
    <ul>
        <li>
           <button routerLink = "listmovie"> All Movies </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button routerLink = "/AddMovie"> Add Movies </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button routerLink = "/reactform">Reactive Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button routerLink = "/details">Details Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    </ul>
</div>
